<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Proxy Page</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.3/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.25/angular-ui-router.min.js"></script>
  <script src="arka-routes.js" type="text/javascript"></script>
  <script src="proxy/proxy-controller.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-controller="ProxyController">

<h1>Proxy Page</h1>

<select ng-model="proxyCtrl.selectedProxyName" ng-options="proxyName for proxyName in proxyCtrl.proxiesNames"
        ng-change="proxyCtrl.showProxy()">
  <option value="">Select Proxy</option>
</select>

<button ng-click="proxyCtrl.startProxy()" ng-disabled="proxyCtrl.proxyConfigData.enable">Start Proxy</button>
<button ng-click="proxyCtrl.stopProxy()" ng-disabled="!proxyCtrl.proxyConfigData.enable">Stop Proxy</button>

<div class="proxy-details">
  <div class="arka-row">
    <label>Status:</label>
    <span ng-class="{'green-ball': proxyCtrl.proxyConfigData.enable, 'red-ball': !proxyCtrl.proxyConfigData.enable}"></span>
  </div>

  <div class="arka-row">
    <label for="proxyName">Proxy Name:</label>
    <input type="text" id="proxyName" ng-model="proxyCtrl.proxyConfigData.proxyName" readonly>
  </div>

  <div class="arka-row">
    <label for="proxyPort">Proxy Port:</label>
    <input type="text" id="proxyPort" ng-model="proxyCtrl.proxyConfigData.proxyPort" readonly>
  </div>

  <div class="arka-row">
    <label for="dbUrl">DB URL:</label>
    <input type="text" id="dbUrl" ng-model="proxyCtrl.proxyConfigData.dbUrl" readonly>
  </div>

  <div class="arka-row">
    <label class="proxy-details-label" for="dbPort">DB Port:</label>
    <input type="text" id="dbPort" ng-model="proxyCtrl.proxyConfigData.dbPort" readonly>
  </div>

  <div class="arka-row">
    <label for="dbSchema">DB Schema:</label>
    <input type="text" id="dbSchema" ng-model="proxyCtrl.proxyConfigData.dbSchema" readonly>
  </div>

  <div class="arka-row">
    <label for="dbUsername">DB Username:</label>
    <input type="text" id="dbUsername" ng-model="proxyCtrl.proxyConfigData.dbUsername" readonly>
  </div>

  <div class="arka-row">
    <label for="dbPassword">DB Password:</label>
    <input type="password" id="dbPassword" ng-model="proxyCtrl.proxyConfigData.dbPassword" readonly>
  </div>
</div>

</body>
</html>
