<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body ng-controller="DashboardController">

<div style="height: 300px; width:600px">
    <label>Proxy Name: </label>
    <select ng-model="dashboardCtrl.selectedProxyName" ng-options="proxyName for proxyName in dashboardCtrl.getActiveProxiesList()"
            ng-change="dashboardCtrl.changeProxyChartOne()">
        <option value="">Select Proxy</option>
    </select>
    <canvas id="randomNumberChart" width="400" height="200"></canvas>
    <button ng-click="dashboardCtrl.generateNewData()">Generate New Data</button>

</div>
</body>
</html>
